h1{
    color:red;
    background-color: blue;
}

h2{
    color: wheat;
    background-color: aqua;
}

h3{
    color:green;
    background-color: blanchedalmond;
}

h4{
    color: aqua;
    background-color: darkgrey;
}