h1{
    color:red;
    background-color: blue;
    font-size: 20px;

}

h2{
    color: wheat;
    background-color: aqua;
    font-size: 20px;
}

h3{
    color:green;
    background-color: blanchedalmond;
}

h4{
    color: aqua;
    background-color: darkgrey;
}